@import "tailwindcss";


:root {
  --background: hwb(0 100% 0%);
  --foreground: #202020;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-jaldi: var(); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-app-blue-900: #09344F;
  --color-app-blue-800: #0E3D5B;
  --color-app-blue-700: #295A78;
  --color-app-blue-600: #77A5C2;
  --color-app-burgundy-900: #79170F;
  --color-app-burgundy-800: #973F38;
  --color-app-burgundy-700: #B87974;
  --color-app-burgundy-600: #D8B4B1;
  --color-app-text-900: #202020;
  --color-app-gray-800: #323232;
  --color-app-gray-700: #9D9D9D;
  --color-app-gray-text: #5F5F72;
  --color-app-soft-white: #E8EFF3;
  --color-app-white: #FAFAFF;

  --font-jaldi: jaldi;
}